/*
font-family: 'Rubik', sans-serif;
https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429
2b2d42  gris muy oscuro
8d99ae  gris
edf2f4  gris claro      primario
ef233c  colorado
d90429  colorado intenso 
*/

:root{
    --primario: #edf2f4;
    --primario-oscuro: #8d99ae;
    --casi-negro:#2b2d42;
    --rojo:#ef233c;
    --rojo-intenso:#d90429;

    --fuentePpal:'Rubik',sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

  /**GLOBALES**/

body{
      background-color: var(--primario);
      font-size: 1.6rem;
      line-height: 1.5;
  }

p{
      font-size: 1.8rem;
      font-family: var(--fuentePpal);
      color: var(--casi-negro);
  }

a{      text-decoration: none;  }
img{      max-width: 100%;  }

.contenedor{
      max-width: 120rem;
      margin: 0 auto;
  }

h1, h2, h3{
      text-align: center;
      color: var(--rojo);
      font-family: var(--fuentePpal);
  }

h1{      font-size: 4rem;  }
h2{      font-size: 3.2rem;  }
h3{      font-size: 2.4rem;  }

  /*HEADER*/
.header{
      display: flex;
      justify-content: center;
  }

.header__logo{
      margin: 3rem  0;
      width: 16rem;             /**/
  }

  /*FOOTER*/
  .footer{
    background-color: var(--rojo-intenso);
    padding: 1rem 0;
    margin-top: 2rem;
  }

  .footer__texto{
    font-family: var(--fuentePpal);
    text-align: center;
    color: var(--primario);
  }

  /*NAVEGACION*/
.navegacion{
      background-color: var(--casi-negro);
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      gap: 3rem;
  }

.navegacion__enlace{
      font-family: var(--fuentePpal);
      color: var(--primario);
      font-size: 3rem;
      text-transform: uppercase;
      cursor: pointer;
  }

  .navegacion__enlace:hover{
      color: var(--rojo);
  }
/*GRID*/

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

@media (min-width: 768px){
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}



/*PRODUCTOS*/

  .producto{
    background-color: var(--rojo-intenso);
    padding: 1rem;

  }

  .producto__imagen{
    width: 100%;
   
  }

  .producto__informacion{

  }

  .producto__nombre{
    font-size: 4rem;

  }

  .producto__precio{
    font-size: 2.8rem;
    color: var(--primario);
  }

  .producto__nombre,
  .producto__precio{
    font-family: var(--fuentePpal);
    margin: 1rem 0;
    text-align: center;
    line-height: 3.5rem;
  }

/*GRAFICO*/

.grafico{
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.grafico--remeras{
  grid-row: 2/3;
  grid-column: 1/3;
  background-image: url(/img/detalle20.png);
}

.grafico--ropa{
  background-image: url(/img/detalle22.png);
  grid-column: 1/3;
  grid-row: 8/9;
}


@media (min-width:768px){
  .grafico--ropa{
    grid-row: 5/6;
    grid-column:2/-2;
  }  
}


/*NOSOTROS*/

.nosotros{
  display: grid;
  grid-template-rows: repeat(2, auto);
  text-align: justify;
  padding: 2rem;

}

@media (min-width:768px){
  .nosotros{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    text-align: justify;
    padding: 2rem;
}

}
.nosotros__imagen{
  grid-row: 1/2;
  width: 100%;
}

@media (min-width:768px){
  .nosotros__imagen{
    grid-column: 2/3;
  }
}

/*BLOQUES*/

.bloques{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media(min-width:768px){
  .bloques{
    grid-template-columns: repeat(4, 1fr);
  }
}

.bloque{
  text-align: center;
}

.bloque__titulo{
  margin: 0;
}